@import "tailwindcss";

@theme {
  --color-neon-pink: #ff2a6d;
  --color-neon-cyan: #05d9e8;
  --color-neon-green: #01ffc3;
  --color-dark-bg: #01012b;
  --color-grid-line: #1a1a3a;
  
  --font-retro: 'Courier New', Courier, monospace;
}

body {
  background-color: var(--color-dark-bg);
  color: var(--color-neon-cyan);
  font-family: var(--font-retro);
  margin: 0;
  padding: 0;
  overflow: hidden;
}